<h2>Defining a Template using ng-template</h2>
<ng-template>
  <p>Say Hello</p>
</ng-template>

<h1>ng-template & TemplateRef</h1>
<h2>Using ngTemplateOutlet</h2>
<ng-template #sayHelloTemplate>
  <p>Say Hello</p>
</ng-template>
<ng-container *ngTemplateOutlet="sayHelloTemplate">
  this text is not displayed
</ng-container>

<ng-template #sayAnotherHelloTemplate>
  <p>Say Another Hello</p>
</ng-template>


<label>
  <input  [(ngModel)]="selected" type="checkbox" >Select me
</label>

<div *ngIf="selected">
  <p>You are selected</p>
</div>
<ng-template [ngIf]="selected">
  <div>
    <p>You are selected</p>
  </div>
</ng-template>

<div *ttif="selected">
  <p>Using the ttif directive via *ttif</p>
</div>

<ng-template [ttif]="selected">
  <div>
    <p>Using the ttif directive via ng-template</p>
  </div>
</ng-template>

<h2>Using ngTemplate with ngIf then & else</h2>

<div *ngIf="selected;then thenBlock1 else elseBlock1">
  <p>This content is not shown</p>
</div>

<ng-template #thenBlock1>
  <p>content to render when the selected is true</p>
</ng-template>

<ng-template #elseBlock1>
  <p>content to render when the selected is false</p>
</ng-template>

<ng-template [ngIf]="selected" [ngIfThen]="thenBlock2" [ngIfElse]="elseBlock2">
  <div>
    <p>this content is not shown</p>
  </div>
</ng-template>

<ng-template #thenBlock2>
  <p>content to render when the selected is true</p>
</ng-template>

<ng-template #elseBlock2>
  <p>content to render when the selected is false</p>
</ng-template>

<h2>Using *ngFor directive</h2>
<div>
  <ul>
    <li *ngFor="let movie of movies; let i=index; let even=even; trackBy: trackById">
      {{movie.title}} -- {{movie.director}}
    </li>
  </ul>

</div>

<h2>Using ngTemplate with ngFor</h2>
<div>
  <ul>
    <ng-template
      ngFor let-movie [ngForOf]="movies"
      let-i="index"
      let-even="even"
      [ngForTrackBy]="trackById"
    >
      <li>{{movie.title}} -- {{movie.director}}</li>
    </ng-template>
  </ul>
</div>

<h2>Using ngswitch directive</h2>
<input type="text" [(ngModel)]="num">

<div [ngSwitch]="num">
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchCase="2">Two</div>
  <div *ngSwitchCase="3">Three</div>
  <div *ngSwitchDefault>Thids is default</div>

</div>

<h2>Using ngTemplate with ngswitch</h2>
<div [ngSwitch]="num">
  <ng-template [ngSwitchCase]="1">
    <div>One</div>
  </ng-template>
  <ng-template [ngSwitchCase]="2">
    <div>Two</div>
  </ng-template>
  <ng-template [ngSwitchCase]="3">
    <div>Three</div>
  </ng-template>
  <ng-template ngSwitchDefault>
    <div>This is default</div>
  </ng-template>
</div>

<h1>Template Reference variable Example</h1>

<h2>Html element</h2>
<p>
  <label for="firstName">First Name:</label>
  <input (keyup)="0" type="text" #firstName id="firstName">
</p>
<p>
  <label for="lastName">Last Name:</label>
  <input (keyup)="0" type="text" #lastName id="lastName">
</p>
<b>Welcome {{firstName.value}} {{lastName.value}}</b>

<h2>Pass Variable to Component class</h2>
<p>
  <button (click)="sayHello(firstName, lastName)">Say Hello</button>
</p>


<h1>Simple component</h1>
<app-simple></app-simple>

<h1>Static template</h1>
<ng-template #static>
  I am a static template with no content
</ng-template>

<ng-template #messageTemplate
      let-templateMessage="message">
      {{templateMessage}}
</ng-template>

<h1>Tab component static child</h1>
<app-tab [childTemplate]="static"></app-tab>

<h1>Tab component template child</h1>
<app-tab  [childTemplate]="messageTemplate"></app-tab>
